@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300i,400,600|Raleway');

@font-face {
  font-family: 'Liberation Sans';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/liberation-sans/LiberationSans-Regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/liberation-sans/LiberationSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/liberation-sans/LiberationSans-Regular-webfont.svg') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Liberation Sans';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/liberation-sans/LiberationSans-Bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/liberation-sans/LiberationSans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/liberation-sans/LiberationSans-Bold-webfont.svg') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Liberation Sans';
  font-style: italic;
  font-weight: bold;
  src: url('/fonts/liberation-sans/LiberationSans-BoldItalic-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/liberation-sans/LiberationSans-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/liberation-sans/LiberationSans-BoldItalic-webfont.svg') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Liberation Sans';
  font-style: italic;
  font-weight: normal;
  src: url('/fonts/liberation-sans/LiberationSans-Italic-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/liberation-sans/LiberationSans-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/liberation-sans/LiberationSans-Italic-webfont.svg') format('svg'); /* Legacy iOS */
}

html {
	--owd-blue: #055A5A;
	--owd-red: #970808;
	--owd-gold: #966708;
	--owd-grey: #333;
	--owd-lightgrey: #888;
	--owd-smokegrey: #eee;
	--owd-color: var(--owd-blue);
	font-family: 'Source Sans Pro', 'Liberation Sans', sans-serif;
	line-height: 1.5;
	font-size: 16px;
	color: var(--owd-grey);
	font-weight: 400;
}

#site-title {
	font-size: 2em;
}

nav#sidebar {
	margin: 1em 1em;
	justify-content: space-between;
	display: flex;
	align-items: center;
	padding-bottom: 0.8em;
	border-bottom: 2px solid var(--owd-lightgrey);
}

.toc-area, .cat-tag-area, #TOC {
	position: fixed;
	top: 15%;
	right: 2em;
	max-width: 15%;
	font-family: 'Liberation Sans';
	font-size: 0.8em;
	background-color: rgba(255,255,255,1);
	padding: 0.5em 1em;
	z-index: 2;
	margin: 0 auto;
}

.toc-area, #TOC {
	border-radius: 5px;
	border: 1px solid var(--owd-lightgrey);
}

.cat-tag-area .tags {
	margin-top: 1em;
}

.toc-area h3, .cat-tag-area div h3 {
	margin: 0;
}

/* #toc-title {
	text-transform: uppercase;
} */

nav#TableOfContents ul, 
#TOC ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 0.3em;
	line-height: 1.2em;
}

nav#TableOfContents li, 
#TOC li {
	padding: 0;
	margin: 0;
	margin-bottom: 0.3em;
}

nav#TableOfContents ul > li > ul > li, 
#TOC ul > li > ul > li {
	margin: 0;
	padding: 0;
	margin-bottom: 0.3em;
	padding-left: 1em;
	text-indent: 0;
	color: var(--owd-lightgrey);
}

nav#TableOfContents ul > li > ul > li > ul, 
#TOC ul > li > ul > li > ul {
	display: none;
}

nav#TableOfContents ul > li > ul,
#TOC ul > li > ul {
	margin-top: 0.3em;
}

nav#TableOfContents ul:last-child,
nav#TableOfContents li:last-child,
#TOC ul:last-child,
#TOC il:last-child {
	margin-bottom: 0;
}

nav#TableOfContents a:active, 
#TOC a:active {
	color: var(--owd-color);
}

nav#TableOfContents a:hover, 
nav#TableOfContents a:focus,
#TOC a:hover,
#TOC a:focus {
	color: var(--owd-gold);
}

header {
	/* text-align: center; */
}

#header-title {
	font-size: 1.65em;
	/* border-radius: 4px; */
	/* padding: 0.1rem 0.5rem 0.2rem 0.5rem; */
	color: var(--owd-color);
	/* box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.8); */
}

div#sidebar-nav {
	color: var(--owd-color);
	cursor: auto; /* was ist das? */
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 0.9em;
	opacity: 1;
}

.sidebar-nav-item {
	margin-left: 1rem;
}

.sidebar-nav-item:active {
	border-bottom: 2px solid var(--owd-color);
}

footer {
	text-align: center;
	background-image: linear-gradient(to bottom, white 10%, rgba(255,255,255,0.8) 30%, transparent 100%), url("/img/background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/* min-height: 20vh; */
	/* height:  50vh; */
	/* width: 100%; */
}

/* #footer-title {
	color: var(--owd-color);
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 0.9em;
} */

.footer-text-area {
	padding: 2em 5em;
}


.footer-text {
	font-size: 0.8em;	
}

.footer-text h1 {
	color: var(--owd-color);
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 1.2em;
	font-weight: normal;
	margin: 0.2em 0;
}

.footer-text p {
	margin: 0 0.2rem;
	display: inline-block;
}

#recommended-links ul {
	display: inline-block;
	list-style-type: none;
	text-indent: 0;
	margin: 0;
	padding: 0;
}

#ref-links {
	font-size: 1.1em;
	padding: 0.5em;
	background-color: rgba(255,255,255,0.4);
	display: inline-block;
	margin: 0.5em 0;
}

#copyright {
	margin: 0.2em 0;
	display: block;
	padding: 0.5em 0;
	border-top: 2px solid var(--owd-lightgrey);
}

.contact {
	margin: 1em auto;
	display: inline-block;
	padding: 0.5em;
	background-color: rgba(255,255,255,0.4);
}

.contact h1 {
	color: var(--owd-color);
	/* text-transform: uppercase; */
	letter-spacing: 0.1em;
	font-size: 1em;
	font-weight: normal;
	margin: 0;
}

.contact p {
	margin: 0.3em 0;
}

.formview {
	min-width: 400px;
	width: auto;
	font-family: inherit;
	font-size: 0.9em;
	color: inherit;
}

input, textarea {
	border: 2px solid var(--owd-color);
	padding: 0.5em;
	font-size: 1em;
	transition: all 0.3s ease-in-out;
	line-height: normal;
	font-family: inherit;
	width: 80%;
	margin: 0.2rem;
}

textarea {
	min-height: 100px;
	max-height: 200px
}

input:focus, textarea:focus {
	background-color: var(--owd-smokegrey);
}

button {
	padding: 1em;
	background-color: var(--owd-color);
	color: var(--owd-smokegrey);
	border: 0;
	text-transform: uppercase;
	font-family: inherit;
}

button:hover {
	background-color: var(--owd-grey);
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

main {
	margin: 5em 25% 0em 25%;
}

main.article {
	margin: 0 1em;
}

main.article article {
	margin: 0 20%;
}

section {
	margin: 2em 10% 2em 10%;
}

.article-list {
	/* margin: 0em 10%; */
}

.article-recent {
	/* margin-top: 10em; */
}

.article-list-item {
	/* min-height: 100px; */
	margin: 1em 0;
	/* text-align: center; */
	position: relative;
	/* border-left: 2px solid var(--owd-smokegrey); */
}

.article-list-item p {
	margin: 5px 0px;
}

.article-list-item h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
	margin: 5px 0px;
}

.article-thumb-wrapper {
	/* max-width: 100px; */
	width: 100%;
	/* margin-left: 1em; */
	/* display: inline-block; */
	/* vertical-align: top; */
	background-color: var(--owd-smokegrey); 
	background-repeat: no-repeat;
	background-position: right;
	background-size: cover;
}

.article-text-wrapper {
  	position: relative;
 	vertical-align: top;
	width: calc(100% - 25%);
	/* margin-left: 1em; */
	display: inline-block;
	z-index: 1;
	/* background-color: rgba(255,255,255,0.7); */
	background-image: linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 15%, rgba(255,255,255,0.8) 25%, white 30%, white 100%);
	transition: opacity ease 0.5s;
	line-height: 1.2em;
	padding: 0.5em;
	padding-left: 0;
	padding-right: 25%;

}

/* .article-text-wrapper:hover {
	transition: opacity ease 0.5s;
	color: black;
	background-color: rgba(255,255,255,0.5);
} */

.header-thumb-wrapper {
	width: 60%;
	background-color: var(--owd-smokegrey); 
	background-repeat: no-repeat;
	background-position: right;
	background-size: 35% auto;
	margin: 3em 20% 1em 20%;
}

.header-text-wrapper {
  	position: relative;
 	vertical-align: top;
	width: calc(100% - 30%);
	/* margin-left: 1em; */
	display: inline-block;
	z-index: 1;
	/* background-color: rgba(255,255,255,0.7); */
	background-image: linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 15%, rgba(255,255,255,0.8) 25%, white 30%, white 100%);
	transition: opacity ease 0.5s;
	line-height: 1.2em;
	padding: 0.5em;
	padding-left: 0;
	padding-right: 30%;
}

h1.page-title {
	margin-top: 0;
	margin-bottom: 0.5em;
	line-height: 1em
}

.article-page-author-date {
	font-weight: 300;
	font-size: 1em;
	margin-top: 0.4em;
	margin-bottom: 0.6em;
	border-bottom: 1px solid var(--owd-smokegrey);
	padding-bottom: 0.7em;
}

.article-page-date {
	margin-right: 1em;
}

.article-page-tags {
	vertical-align: bottom;
	font-family: 'Liberation Sans';
	text-transform: uppercase;
	font-size: 0.8em;
	margin-right: 1em;
	margin-top: 0.2em;
}

.article-list-title {
	font-weight: 600;
	font-size: 1.33em;
	margin-bottom: 0.2em;
	margin-top: 0px;
}

.article-list-summary {
	font-size: 0.9em;
	margin-top: 0.2rem;
}

.article-date {
	float: left;
	font-weight: 300;
	font-size: 0.8em;
	margin-top: 0rem;
	margin-right: 0.5em;
}

.article-meta {
	font-weight: 300;
	/* font-style: italic; */
	font-size: 0.9em;
	margin-top: 0rem;
}

.article-tags {
	vertical-align: bottom;
	font-family: 'Liberation Sans';
	text-transform: uppercase;
	font-size: 0.75em;
	margin-right: 1em;
	margin-top: 0.2em;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.justify-space-between {
	display: flex;
	justify-content: flex-start;
}

.article-description {
	font-weight: 400;
	font-size: 1em;
	font-style: italic;
	/* margin-top: 0.5rem; */
}

.article-image {
	margin: 1em 0;

}

.article-image img {
	width: 100%;	
}

.more-articles {
	display: flex;
	justify-content: space-between;
}

.articles-nav {
	margin-top: 4em;
	padding: 0.5em;
	/* background-color: var(--owd-smokegrey); */
	color: var(--owd-color);
	border-top: 1px solid var(--owd-smokegrey);
	font-size: 0.9em;
	line-height: 1.2em;		
}

.older, .newer {
	display: inline-block;
}

.older {
	margin-right: 1em;
}

.newer {
	float: right;
	text-align: right;
	margin-left: 1em;
}

.article-content {
	margin-bottom: 5em;
}

.article-content h1 {
	font-size: 1.6em;
	color: var(--owd-gold);
	font-weight: 400;
	margin-top: 1em;
}

.article-content h2 {
	font-size: 1.2em;
	color: var(--owd-color);
	font-weight: 600;
	margin-top: 0.8em;
}

.article-content h3 {
	font-size: 1.2em;
	font-weight: 400;
	margin-top: 0.5em;
}

.article-content h4 {
	font-size: 1em;
	font-weight: 600;
	color: #888;
	margin-top: 0.3em;
}

.article-content h5 {
	font-size: 1em;
	font-weight: 400;
	color: #888;
	margin-top: 0.2em;
}

.article-content h6 {
	font-style: italic;
	font-size: 1em;
	font-weight: 400;
	color: #888;
	margin-top: 0.2em;
}

.article-content img {
	max-width:  100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	/* width: auto; */
	/* margin: 0em 1em 1em 0; */
}

img[src$='#floatleft'] {
	float:left;
}

img[src$='#floatright'] {
	float:right;
}

figcaption {
	color: #888;
	font-size: 0.85em;
}

figcaption p {
	font-style: italic;
	margin: 0 0;
}

.dimming {
	transition: opacity .15s ease-in;
}

.dimming:focus, .dimming:hover {
	opacity: 0.5;
}

a:any-link {
	text-decoration: none;
	color: inherit;
}

.grey {
	color: var(--owd-lightgrey);
}

.darkgrey {
	color: var(--owd-grey);
}

.owd-color {
	color: var(--owd-color);
}

div.taxo-link {
	margin-top: 0.5em;
}

a.taxo-link {
	font-style: normal;
}

a.taxo-link:hover {
	color: #333;
	text-decoration: underline;
}

.nowrap {
	white-space: nowrap;
}

.float-left {
	float: left;
	margin-right: 1em;
}

.clear-left {
	clear: left;
}

.pagination-wrapper {
	/* margin-left: calc(100px + 1em); */
	text-align: center;
}

ul.pagination {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

.pagination li {
	display: inline-block;
	padding: 0 0.1rem;
}

.pagination .active {
	color: white;
	background-color: var(--owd-color);
	padding: 0rem 0.3rem;
	border-radius: 2px;
}

.pagination .disabled {
	color: #888;
}

[aria-hidden=true] {
		display: none;
}
	
pre {
	font-size: 0.76em;
	white-space: pre-wrap;
	word-break: keep-all;
}

table {
	margin-left: auto;
 	margin-right: auto;
 	border-collapse: collapse;
 	font-size: 0.9em;
 	text-align: right;
}

th, td {
	/* padding: 5px; */
	padding: 0 5px;
}

th {
	border-bottom: 1px solid #ccc;
}

/* tr:nth-child(even) {
	background-color: #eee;
} */

tfoot {
	border-top: 1px solid #ccc;
}

@media(max-width:1200px) {
	html {
		font-size: 14px;
	}
    .toc-area, .cat-tag-area, #TOC {
        display: none;
    }
}

@media(max-width:800px) {
	html {
		font-size: 12px;
	}

	main {
	margin: 5em 5% 0em 5%;
	}

	main.article {
		margin: 0 1em;
	}

	main.article article {
		margin: 0 5%;
	}

	section {
		margin: 2em 2% 2em 2%;
	}

	.article-list {
		margin: 0em 10%;
	}

	.header-thumb-wrapper {
		margin: 2em 5% 1em 5%;
		width: 90%;
	}

	.footer-text-area {
		padding: 2em 5%;
	}

	.formview {
		min-width: 400px;
	}


	nav#sidebar {
		/* justify-content: flex-start; */
		display: block;
		/* align-items: center; */
	}

	.sidebar-nav-item {
		margin-left: 0;
		margin-right: 1em;
	}

	.article-content img {
		max-width:  100%;
		display: block;
	}
}

@media(max-width: 600px) {
	.article-content img {
		width:  100%;
	}	

	.formview {
		min-width: 200px;
	}

	.header-thumb-wrapper {
		background-size: auto 100%;
	}
}
