{{ define "main" }}
  <main class="article">
    <header>
      <div class="header-thumb-wrapper" style="background-image: url('{{ .Params.Image }}');">
        <div class="header-text-wrapper">
      <h1 class="page-title">{{ .Title }}</h1>
      {{ if isset .Params "date"}}
        <div class="article-meta grey">
          <i class="far fa-clock"></i> 
          {{ .Date.Format "02 Jan 2006" }} 
        </div>
      {{ end }}
      {{ if isset .Params "categories" }} 
        <div class="article-meta grey article-tags">  
          <i class="fas fa-folder"></i> {{ range .Params.Categories }}<a href='{{ "/categories/" | relLangURL }}{{ . | urlize }}' class="taxo-link"> §{{ . }} </a> {{ end }}
        </div>
      {{ end }}
        {{ if isset .Params "tags" }}
        <div class="article-meta grey article-tags">
        <i class="fas fa-tags"></i> {{ range .Params.Tags }}<a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}' class="taxo-link"> #{{ . }} </a> {{ end }}
        </div>
      {{ end }}
      {{ if isset .Params "description" }}
        <div class="article-description grey">
        {{ .Params.Description }}
        </div>
      {{ end }}
<!--       {{ if isset .Params "image" }}
        <div class="article-image">
          <img src='{{ .Params.Image }}'>
        </div>
      {{ end }} -->
    </div>
  </div>
    </header>
    {{ partial "toc.html" . }}
    <article class="article-content">
      {{ .Content }}
    {{ if (or .PrevInSection .NextInSection) }}
    {{ end }}
    <div class="articles-nav">
      {{ with .PrevInSection }}
      <div class="older">
        <a class="dimming" href="{{ .Permalink }}">
        Previous {{ .Section }}: <br>[ {{ .Title }} ]
        </a>
      </div>
      {{ end }}
      {{ with .NextInSection }}
      <div class="newer">
        <a class="dimming" href="{{ .Permalink }}">
        Next {{ .Section }}: <br>[ {{ .Title }} ]
        </a>
      </div>
      {{ end }}
    </div>
    </article>
    </div>
  </main>
{{ end }}
