{{ define "main" }}
<main>
    	<header>
    		{{ .Content }}
      		<h1 id="site-title">Recent Contributions</h1>
      	</header>
     	{{ partial "cat-tag-cloud.html" . }}
	    <div class="article-list article-recent">
	    {{ range first 5 .Pages }}
		{{ partial "article-list.html" . }}
	    {{ end }}
	    	<div class="more-articles">
	    		<div><a class="dimming" href="/post/">[ More posts ]</a></div>
	    		<div><a class="dimming" href="/article/">[ More articles ]</a></div>
	    	</div>
	    </div>
</main>
{{ end }}